<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wanzizoo.crm.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="cn.wanzizoo.crm.domain.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sn" property="sn"/>

      <collection property="permissions" ofType="Permission"
                  select="cn.wanzizoo.crm.mapper.PermissionMapper.selectByRoleId" column="id"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
    delete from role
    where id = #{id}
  </delete>
  <delete id="deleteRoleAndPermissionRelation">
     delete from role_permission
        where role_id = #{roleId}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into role (name, sn)
    values (#{name}, #{sn})
  </insert>
  <insert id="insertRoleAndPermissionRelation">
    insert into  role_permission values(#{roleId},#{permissionId})
  </insert>
  <update id="updateByPrimaryKey">
    update role
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn
    from role
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn
    from role
  </select>
    <select id="selectCount" resultType="java.lang.Integer">
    select count(*)
    from role
  </select>
    <select id="selectList" resultType="cn.wanzizoo.crm.domain.Role">
    select id,name,sn
    from role
    limit #{start},#{pageSize}
  </select>
    <select id="selectByEmpId" resultType="Role">
    select r.id, r.name, r.sn
    from role r
    left join employee_role er on r.id=er.role_id
    where er.employee_id = #{empId}
  </select>
</mapper>